body {
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("../images/brushed-alum.png");
    background-repeat: repeat; 
    background-color: #878b8d;
}

header, footer {
    min-height: 10vh;
    background-color: #3d4042;
    color: #FFFFFF;
    text-align: left;
    padding: 0px 10px;
}

main {
    display: flex;
    flex-flow: row;
    flex: 1;
    color: #FFFFFF;
    text-align: center;
    margin: 20px;
}

#leftMain, #rightMain {
    flex-grow: 1; 
}
#centerMain {
    flex-grow: 2;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
}

#topConsole, #btmConsole, #midConsole {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-between;
    color: #FFFFFF;
    text-align: center;
    flex: 3 1 0;
}

#midConsole {
    flex: 1 1 0;
}

.left, .right {
    width: 45%;
}

.top, .btm {
    height: 100%;
}

.tlcOff {
    background-image: url("../images/strange-bullseyes.png");
    background-repeat: repeat; 
    background-color: #1d5521;
    border: 3px solid  #3d4042;
    border-radius: 200px 0px 0px 0px;
}

.trcOff {
    background-image: url("../images/strange-bullseyes.png");
    background-repeat: repeat; 
    background-color:  #e46868;
    border: 3px solid  #3d4042;
    border-radius: 0px 200px 0px 0px;
}

.brcOff {
    background-image: url("../images/strange-bullseyes.png");
    background-repeat: repeat; 
    background-color: #5367bd;
    border: 3px solid  #3d4042;
    border-radius: 0px 0px 200px 0px;
}

.blcOff {
    background-image: url("../images/strange-bullseyes.png");
    background-repeat: repeat; 
    background-color: #f6f879;
    border: 3px solid  #3d4042;
    border-radius: 0px 0px 0px 200px;

}

@keyframes tlcOn {
    from {background-color: #1d5521;}
    to {background-color: #06fa16;}
}

.tlcOn {
    background-image: url("../images/strange-bullseyes.png");
    background-repeat: repeat; 
    background-color: #1d5521;
    border: 3px solid  #3d4042;
    border-radius: 200px 0px 0px 0px;
    animation-name: tlcOn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
}

@keyframes trcOn {
    from {background-color: #e46868;}
    to {background-color:  #ff01ee;;}
}

.trcOn {
    background-image: url("../images/strange-bullseyes.png");
    background-repeat: repeat; 
    background-color:  #e46868;
    border: 3px solid  #3d4042;
    border-radius: 0px 200px 0px 0px;
    animation-name: trcOn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
}

@keyframes brcOn {
    from {background-color: #5367bd;}
    to {background-color:  #08f7eb;}
}

.brcOn {
    background-image: url("../images/strange-bullseyes.png");
    background-repeat: repeat; 
    background-color: #5367bd;
    border: 3px solid  #3d4042;
    border-radius: 0px 0px 200px 0px;
    animation-name: brcOn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
}

@keyframes blcOn {
    from {background-color: #f6f879;}
    to {background-color:   #fa9703;}
}

.blcOn {
    background-image: url("../images/strange-bullseyes.png");
    background-repeat: repeat; 
    background-color: #f6f879;
    border: 3px solid  #3d4042;
    border-radius: 0px 0px 0px 200px;
    animation-name: blcOn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: none;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    color:  #3d4042;
    font-weight: bold;
}

h1, h3 {
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
}

.label {
    font-family: 'Orbitron', sans-serif;
    color:  #3d4042
}

.digit {
    font-family: 'Audiowide', cursive;
    color: rgb(250, 161, 19);
}

#newGame {
    font-size: 16px;
    padding:5px;
    font-family: 'Orbitron', sans-serif;
    color:  #3d4042;
    border: 3px solid  #3d4042;
    border-radius: 5px 5px 5px 5px;

}